*{
    font-family: 'Slabo 27px', serif;
    color: #848d95;
}
body{
    margin:0;
    background: #F6F5F5;
}
.flex{
    display:flex;
}
.column{
    flex-direction: column;
}
.grow{
    flex-grow: 1;
}
.nav{
    background: white;
    color: #848d95;
    flex-grow: 1;
    padding: 10px 20px;
    padding-bottom: 0;
    box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 6px rgba(59,64,69,0.1);
}
.top-nav{
    align-items: center;
    justify-content: space-between;
}
.option-container{
    align-items: center;
}
.option-container a{
    color: #848d95;
    text-decoration: none;
    margin-right: 10px;
}
.option-container a i{
    margin-left: 10px;
    margin-right: 10px;
}
.logo-container img{
    width: 150px;
    height: 30px;
}
.bottom-nav{
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}
.tabs-container div{
    padding: 15px;
}
.user{
    width: 30px;
    height: 30px;
}
.active{
    border-bottom: 4px solid orange;
}
.active-question{
    background: orange;
    color: white;
    border-radius: 50px;
}
.input{
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 50px;
    outline: none;
    width: 250px;
}
.search-container span{
    position: relative;
    right: 30px;
}
.page{
    margin: 30px;
    flex-grow: 1;
}
.questions-tab{
    background: white;
    box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 6px rgba(59,64,69,0.1);
    padding: 10px 0;
    flex-grow: 1;
    padding-bottom: 0;
}
.watermark{
    font-size: 100px;
    color: #ccc;
    opacity:0.3;
}
.title span{
    position: relative;
    top: -65px;
    color: #848d95;
    font-size: 20px;
}
.question{
    padding: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}
.question-title{
    color: #5EB7F1;
}
.tag-container{
    margin-top: 10px;
}
.tag-container span{
    margin-right: 3px;
    padding: 5px 10px;
    border: 2px solid #ccc;
    border-radius: 50px;
    font-size: 12px;
}
.right div{
    margin-right: 20px;
}
.jobs-section{
    margin: 10px 30px;
}
.checkbox i{
    position: relative;
    padding: 5px;
    border: 1px solid;
    border-radius: 50%;
    left: -13px;
}
.job{
    padding: 20px;
    border-left: 2px solid;
}
.job-title{
    font-size: 20px;
    color: #5EB7F1;
}
.job-location{
    margin-top: 5px;
    font-size: 12px;
    margin-right: 10px;
}
@media screen and (max-width: 768px) {
    .bottom-nav{
        display: none;
    }
    .page{
        flex-direction: column;
    }
    .option-container{
        display: none;
    }
    .top-nav{
        justify-content: center;
        padding: 10px;
    }
    .question-tags{
        display: none;
    }
    .page{
        margin: 10px;
    }
    .jobs-section{
        flex-grow: 1;
    }
    .job{
        flex-grow: 1;
        align-items: center;
    }
    .nav{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}